/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

footer p{
    color: #fff;
}
/* Estilos para texto */
p {
    color: #333;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}

h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.ejemplo-css {
    font-weight: bold;
    font-style: italic;
    color: #ff0000; /* rojo */
}